*.DS_Store
*.pyc
.ipynb_checkpoints
*.ipynb
**/wandb
*.sh
*.pt
.vscode/
**/__pycache__
.idea
.github
.cache
*.log
logs/*
*.txt
*512.json
*log*
*vis*
*.pth
RobotFlamingoDBG*
eval_ckpts_*
cross_att_layer.json
enrich*
egl_check/
*opengl
rollout*.py
.swp
real_dataset_mDT.py
epoch_figs.py
eval_hist*
gen*
gif_trans*
*gpu*
load*
data_process.py
lang_simi*
*.deb
*plot.py
void.py
test*.py
